* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

.container {
    width: 100%;
    margin: 0 20px;
}

header {
    width: 100%;
    height: 60px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
}

.header-content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.logo {
    font-size: 2.5em;
    font-weight: bold;
    margin-left: 20px;
}

nav {
    display: flex;
    gap: 20px;
}

nav a {
    text-decoration: none;
    color: black;
    font-weight: 500;
    position: relative;
}

nav a.active::after, nav a:hover::after {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: black;
}

.search-and-icons {
    display: flex;
    align-items: center;
    gap: 10px;
}

.search-and-icons input {
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.icon {
    font-size: 1.2em;
    cursor: pointer;
}

.full-width-line {
    width: 100vw;
    height: 1px;
    background-color: #ccc;
    position: absolute;
    top: 60px;
    left: 0;
}


/* Phần sidebar và panel chính */
.main-content {
    display: flex;
    width: 100%;
    margin-top: 60px; /* Đẩy nội dung xuống để tránh bị che bởi header */
}


.sidebar {
    width: 25%;
    height: 100vh; /* Đảm bảo sidebar cao bằng màn hình */
    border-right: 2px solid #ccc;
    height: 100vh;
    overflow-y: auto;
    padding: 20px;
    box-sizing: border-box; /* Đảm bảo padding không tăng kích thước */
    position: fixed;
    top: 60px; /* Đặt vị trí ngay dưới header */
    left: 0;
    z-index: 5;
    background-color: #343a40;
}

.sidebar ul {
    list-style: none;

}

.sidebar li  {
    font-size: 1.2em;
    margin: 20px 0;
    display: flex;
    justify-content: space-between;
    font-weight: 500;

    /* padding-right: 100px; */
}

#manage-products-btn:hover,
#manage-categrories-btn:hover,
#account-management-btn:hover,
#order-management-btn:hover,
#promotion-management-btn:hover {
    opacity: 0.4;
}

#manage-products-btn,
#account-management-btn,
#manage-categrories-btn,
#order-management-btn,
#promotion-management-btn{
    text-decoration: none;
    color: white;
}

.main-panel {
    width: 75%; /* Chiếm phần còn lại của màn hình */
    padding: 20px;
    box-sizing: border-box;
    overflow-y: auto;
    margin-left: 25%; /*Đẩy nội dung sang bên phải để không bị che bởi sidebar */
}

.main-panel img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

/* Phần quản lý sản phẩm */
.product-management{
    display: none;
}

.title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}


.product-management .product-management-actions {
    flex-direction: column;
}
.action-btn {
    /* max-width: 120px; */
    min-width: 80px;
    margin-bottom: 10px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.action-btn:hover,
.product-management-form .loadImageBtn:hover,
.product-management-form .cancelBtn:hover {
    opacity: 0.6;
}
table {
    border: 1px solid #ccc;
    width: 100%;
    border-collapse: collapse;
    max-height: 200px;
}

th, td {
    padding: 10px;
    text-align: left;
}

.table-container .row-dark th{
    background-color: #343a40  !important;
    color: #fff;

}

.table-container {
    /* min-width: 1000px;
    max-width: 1000px;
    max-height: 480px;   */
    width: 100%;  /* Đảm bảo bảng chiếm toàn bộ chiều rộng */
    max-height: 480px;
    overflow-y: auto;
    display: block;

}
.product-management .product-management-form,
.account-management .account-management-form{
    display: none;
    flex-direction: column;
    margin-top: 20px;
}
.product-management .product-management-form input,
.product-management .product-management-form select,
.category-management .category-management-form input,
.account-management input,
.order-management input{
    min-width: 300px;
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.product-management .product-management-form label{
    font-weight: bold;
}

.product-management-form .picturebox {
    width: 200px;
    height: 200px;
    border: 2px solid #333;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}

.product-management-form .picturebox img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.product-management-form .loadImageBtn,
.product-management-form .cancelBtn
{
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
}

/* Quản lý danh mục */
.category-management .category-management-form{
    display: none;
    flex-direction: column;
    margin-top: 20px;
}

.account-management{
    display: none;
}
.category-management{
    display: none;
}
.order-management{
    display: none;
}


/* khuyến mãi */


.promotion-management{
    display: none;
}





/* Quản lý biến thể */
.product-management-form input[type="text"] {
    background-color: #f9f9f9;
}

.product-management-form input[type="file"] {
    padding: 5px;
}

.product-management-form select {
    height: 40px;
}


/* Khu vực biến thể */
#color-container,
#color-container-edit {
    margin-top: 20px;
}

/* Màu sắc */
.color-block {
    background-color: #f9f9f9;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.color-block input {
    width: 100%;
    margin-bottom: 10px;
}

#color-container .remove-color-btn,
#color-container-edit .remove-color-btnEdit{
    background-color: #ff4d4d;
    color: white;
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

#color-container .remove-color-btn:hover,
#color-container-edit .remove-color-btnEdit:hover {
    background-color: #e60000;
}

/* Size */
.size-container {
    margin-bottom: 15px;
}

.size-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.size-block input {
    width: 45%;
}

.size-block button {
    background-color: red;
    color: white;
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

.size-container input[type="text"] {
    width: 240px   !important;
    padding: 5px;
    margin-right: 5px;
}

.size-block button:hover {
    opacity: 0.6;
}

/* Thêm màu sắc */
#add-color-btn,
#add-color-btnEdit{
    background-color: #28a745;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    margin-top: 10px;
    width: 300px;
    margin-bottom: 50px;
}

#add-color-btn:hover,
#add-color-btnEdit:hover{
    background-color: #218838;
}