*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins';
    text-decoration: none;
}
li{
    list-style-type: none;
}
a{
    text-decoration: none;
}

/*Footer*/

footer{
    width: 100%;
}

footer .footer_main{
    width: 100%;
    background: #f3f1f1;
    display: flex;
    justify-content: space-around;
}

footer .footer_main .tag{
    margin: 10px 0;
}

footer .footer_main .tag .center{
    text-align: center;
}

footer .footer_main .tag h1{
    font-size: 25px;
    margin: 25px 0;
    color: #1c0080;
}

footer .footer_main .tag a{
    font-size: 20px;
    display: block;
    color: black;
    text-decoration: none;
    margin: 9px 0;
}

footer .footer_main .tag a i{
    padding: 0 10px;
}

footer .footer_main .tag a i:hover{
    color: #c72092;
}

footer .footer_main .tag .social_link{
    margin-top: 30px;
    display: flex;
}

footer .footer_main .tag .social_link a{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    text-align: center;
    text-decoration: none;
    color: black;
    box-shadow: 0 0 20px 10px rgba(0,0,0,0.05);
    position: relative;
    margin: 0 10px;
    z-index: 10;
    overflow: hidden;
}

footer .footer_main .tag .social_link a .fa-brands{
    font-size: 15px;
    line-height: 30px;
    z-index: 10;
    position: relative;
    transition: 0.5s;
}

footer .footer_main .tag .social_link a:hover i{
    color: white;
}

footer .footer_main .tag .social_link a::after{
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: -90px;
    background: linear-gradient(-45deg, #c72092 , #6c14d0);
    position: absolute;
    z-index: -10;
    transition: 0.5s;
}

footer .footer_main .tag .social_link a:hover::after{
    left: 0;
}


footer .map iframe {
    margin-top: 30px;
    width: 450px;
    height: 200px;
}


@media screen and (max-width: 576px) {
    footer .footer_main {
        flex-direction: column;
        align-items: center;
    }

    footer .footer_main .tag {
        width: 100%;     /* Đảm bảo các tag chiếm chiều rộng phù hợp */
        text-align: center; /* Canh giữa nội dung */
    }

    footer .footer_main .tag .social_link {
        justify-content: center; /* Canh giữa các icon mạng xã hội */
    }

    footer .footer_main .map iframe{
        width: 400px;
        margin-left: -150px;
        height: 150px;
    }

}
