*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins';
    text-transform: capitalize;
    text-decoration: none;
}
li{
    list-style-type: none;
    text-transform: capitalize;
}

.nav nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    width: 100%;
}
.nav .nav-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.fa-solid{
    color: var(--primar-clr);
    transition: var(--transition-one);
}
.fa-solid:hover{
    color: var(--first-gra-clr);
}

section nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0 0 8px rgba(0,0,0,0.6);
    background: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
}

section nav .logo{
    font-size: 35px;
    color: #c72092;
    margin: 5px 0;
    cursor: pointer;
    position: relative;
    left: -4%;
}

section nav .logo span{
    color: #6c14d0;
    text-decoration: underline;
}

section nav ul{
    list-style: none;
}


section nav ul li{
    display: inline-block;
    margin: 5px 15px;
}

section nav ul li a{
    font-weight: 600;
    font-size: 20px;
    text-decoration: none;
    color: black;
    transition: 0.2s;
}

section nav ul li a:hover{
    color: #c72092;
}

section nav .icons i{
    margin: 0 4px;
    cursor: pointer;
    font-size: 18px;
    transition: 0.3s;
}

section nav .icons i:hover{
    color: #c72092;
}

nav .icons a {
    color: orangered !important;
    font-size: 20px;
    font-weight: 600;
    margin-left: 5px;
    display: inline-block;
}

nav .icons a:hover {
    color: #c72092 !important;
}


.user-icon {
    position: relative; /* Ensure the dropdown menu is positioned relative to the icon */
}

.dropdown-menu {
    display: none; /* Hide the dropdown by default */
    position: absolute;
    top: 100%; /* Position it right below the icon */
    left: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 200px;
    z-index: 1; /* Ensure it appears on top */
}

.user-icon:hover .dropdown-menu {
    display: block; /* Show the dropdown when hovering over the user icon */
}

.dropdown-menu a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #333;
}

.dropdown-menu a:hover {
    background-color: #f0f0f0; /* Add hover effect for links */
}
