/* Reset CSS */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.row{
    margin-left: -8px;
    margin-right: -8px;
    display:flex;
    flex-wrap: wrap;
}

.row::after{
    content:"";
    display: block;
    clear: both;
}
.col-third{
    width: 33.33333%;
    margin-top: 64px;
}

.col-half{
    width: 50%;
}

.col-full{
    width: 100%;
}

.col{
    float: left;
    padding-left: 8px;
    padding-right: 8px;
}
/* Phần header */

.text-Name
{
    width: 200px;
    padding: 5px;
    margin: 10px;
    border-radius: 4px;
}

#header {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    height: 46.5px;
    background-color: #000;
    z-index: 1;
}


#header .search-btn
{
    float: left;
    padding: 0 21px;
}

#header .search-btn:hover
{
    background-color: #f44336;
    cursor: pointer;
}

#header .search-icon
{
    color: white;
    font-size: 20px;
    line-height: 46.5px;
}



/* Phần nội dung hình ảnh giày */
.content-section
{
    width: 800px;
    padding: 64px 0 112px;
    margin-left: auto;
    margin-right: auto;
}

.section-heading
{
    text-align: center;
    justify-content: center;
}
.text-black
{
    color:#000 !important;
}



/* .tour-section
{
    background-color: #000;
    padding:0 100px ;

} */

/* .shoes-list{
    margin-top: 64px;
} */


.shoe-img{
    width: 100%;
    display: block;
}

.shoe-img:hover
{
    opacity: 0.6;
}

.shoe-body{
    padding: 16px;
    font-size: 15px;
    background-color: #fff;
}

.shoe-name{
    font-size: 15px;
    font-weight: 600;

}

.shoe-price{
    margin-top: 15px;
    color:#757575;
}

.shoe-color{
    margin-top: 15px;
    line-height: 1.4;
}

.shoe-size{
    margin-top: 15px;
    line-height: 1.4;
}

.btn{
    color: #fff;
    background-color: #000;
    text-decoration: none;
    padding: 11px 16px;
    display: inline-block;
    margin-top: 15px;
    border: none;
}

.btn:hover
{
    cursor: pointer;
    color: #000;
    background-color: #ccc;
}
